* {
  box-sizing: border-box;
}

body { 
	margin: 0;
}

/* Style the header */
.header {
	background-color: #f1f1f1;
	padding: 20px;
	text-align: center;
}

/* Style the topnav links */
.topnav a {
	float: left;
	display: block;
	color: black;
	text-align: letf;
	padding: 14px 16px;

}
/* Change color on hover */
.topnav a:hover {
	background-color: #add;
	color:  grey;
}